
@{
    ViewBag.Title = "BadResult";
}

<div class="col-md-10 col-md-offset-2">
    <section class="container">
        <div>
            <div  >
                <h1>Desculpe-nos, algo deu erro, tente novamente mais tarde ou contate o serviço de suporte!</h1>
            </div>
            <div  class="col-md-10 col-md-offset-2">
                <img src="~/Content/Img/Broken.png" />
            </div>
        </div>
    </section>
</div>

