
@{
    ViewBag.Title = "Success";
}

<div class="col-md-10 col-md-offset-2">
    <section class="container">
        <div>
            <div>
                <h1>Arquivo de log enviado com sucesso!</h1>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <img src="~/Content/Img/success.png" />
            </div>
        </div>
    </section>
</div>

